 
@media all and (max-width: 767px){
    .header_right ul, .header_left ul { 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center;
    }

    .header_right {
        border-top: 1px solid #000;
        width: 100%; 
    }

    .header { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
    }

    .button_item ul { 
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .secend_model_form, .image_model, .generator_modal, .music_modal {
        width: 95%;
        left: 2%; 
    }
    
    .modal_header a i { 
        padding: 6px;
    }

}

@media all and (max-width:576px){ 
    .audio_left { 
        top: 8%; 
    }
    .image_model .bar_span span, .generator_modal .bar_span span {
        width: 93px;
    }
    .bar_span span { 
        width: 86px; 
    }
    .image_model .bar_span span {
        width: 105px !important;
    }
    .form-group input { 
        width: 107px;
    }
    .audio_right { 
        right: 23%;
    }
    .audio_pouse { 
        left: 35%;
    }
    .form-img {
        text-align: center;
    }
    .group_text_img img {
        width: 100%; 
    }

    .last_form_img { 
        gap: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }  
    .image_model { 
        top: 2%;
    }
    .button_item { 
        padding-bottom: 35px;
    }
}


@media all and (max-width:385px){
    
    .header_right ul li { 
        display: flex;
        align-items: center;
    }
    .sound_box a img { 
        top: 24px;
        left: 9px;
        width: 20px !important;
    }
    .header_right ul li a img {
        width: 16px;
    }
}